ansible-core==2.12.5
urllib3
git+https://github.com/ansible/ansible-builder.git@devel#egg=ansible-builder
libvirt-python
netaddr
cryptography
ansible-lint
google-auth
google-cloud-storage
pynetbox
pytz
dnspython
